@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap"); // --- font-family: 'Barlow', sans-serif; ---
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap"); // --- font-family: 'Fraunces', serif; ---

// --- Body Copy ---
$FontSize: 18px;

// --- Font ---
$Test1: "Barlow", sans-serif;
$Weight1: 600;
$Test2: "Fraunces", serif;
$Weight2: 700;
$Weight3: 900;
