@import "colors";
@import "typography";
body {
  display: flex;
  font-size: $FontSize;
  .container {
    max-width: 1440px;
    margin: 0 auto;
    header {
      background-image: url(../media/image-header.jpg);
      background-size: 100%, 805px;
      background-repeat: no-repeat;
      width: 100%;
      height: 800px;
      nav {
        display: flex;
        justify-content: space-between;
        #LogoHeader {
          padding-top: 45px;
          padding-left: 40px;
          img {
            width: 170px;
          }
        }
        #MenuHeader {
          display: flex;
          padding-top: 50px;
          margin-right: 80px;
          li a {
            text-decoration: none;
            color: $White;
            font-size: 1.1em;
            padding: 0 25px;
            &:hover {
              color: #ff5900;
            }
          }
          #ContactTwo {
            font-size: 1em;
            color: black;
            font-weight: bold;
            padding: 15px 25px;
            background-color: $White;
            border-radius: 25px;
            &:hover {
              color: #ff5900;
            }
          }
        }
      }
      h1 {
        font-family: $Test2;
        font-weight: $Weight3;
        color: $White;
        font-size: 3em;
        letter-spacing: 10px;
        padding-bottom: 100px;
      }
      .Title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 250px;
        margin: 9% auto;
      }
    }
    #Four {
      display: grid;
      grid-template-areas:
        "Transform Egg"
        "Glass Stand";
      background-color: #fffbf8;
      h2 {
        font-family: $Test2;
        font-weight: $Weight3;
        line-height: 1.3em;
        font-size: 2.3em;
        color: $DarkBlue;
      }
      #Transform {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 450px;
        max-height: 350px;
        margin: 15% auto;
        p {
          font-family: $Test1;
          line-height: 1.5em;
          color: $DarkGrayishBlue;
          font-size: 1em;
        }
        .YellowLink {
          display: flex;
          flex-direction: column;
          a {
            text-decoration: none;
            font-family: $Test2;
            font-weight: $Weight3;
            font-size: 0.9em;
            color: $DarkBlue;
            margin-left: 2%;
            margin-bottom: -1%;
            z-index: 2;
            &:hover {
              color: $LearnMoreYellow;
            }
          }
          .Line {
            border: 5px solid $LearnMoreYellow;
            opacity: 0.3;
            border-radius: 25px;
            width: 28%;
            z-index: 1;
          }
        }
      }
      #Stand {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 450px;
        max-height: 350px;
        margin: 15% auto;
        p {
          font-family: $Test1;
          line-height: 1.5em;
          color: $DarkGrayishBlue;
          font-size: 1em;
        }
        .RedLink {
          display: flex;
          flex-direction: column;
          a {
            text-decoration: none;
            font-family: $Test2;
            font-weight: $Weight3;
            font-size: 0.9em;
            color: $DarkBlue;
            margin-left: 2%;
            margin-bottom: -1%;
            z-index: 2;
            &:hover {
              color: $LearnMoreRed;
            }
          }
          .Line {
            border: 5px solid $LearnMoreRed;
            opacity: 0.3;
            border-radius: 25px;
            width: 28%;
            z-index: 1;
          }
        }
      }
    }
    #Two {
      display: grid;
      grid-template-areas: "Graphic Photography";
      #Graphic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/media/image-graphic-design.jpg);
        background-repeat: no-repeat;
        width: 720px;
        height: 600px;
        #GraphicTitle {
          font-family: $Test2;
          font-weight: $Weight3;
          font-size: 1.7em;
          color: $GraphicDesignText;
          margin-top: 45%;
          margin-bottom: 5%;
        }
        p {
          font-family: $Test1;
          font-weight: $Weight1;
          line-height: 1.7em;
          font-size: 0.9em;
          color: $GraphicDesignText;
          text-align: center;
          margin: 0 26%;
        }
      }
      #Photography {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/media/image-photography.jpg);
        background-repeat: no-repeat;
        width: 720px;
        height: 600px;
        #PhotographyTitle {
          font-family: $Test2;
          font-weight: $Weight3;
          font-size: 1.7em;
          color: $PhotographyText;
          margin-top: 45%;
          margin-bottom: 5%;
        }
        p {
          font-family: $Test1;
          font-weight: $Weight1;
          line-height: 1.7em;
          font-size: 0.9em;
          color: $PhotographyText;
          text-align: center;
          margin: 0 26%;
        }
      }
    }
    #TestimonialsTitle {
      font-family: $Test2;
      font-weight: $Weight3;
      color: $GrayishBlue;
      font-size: 1.1em;
      letter-spacing: 6px;
      text-align: center;
      background-color: #fffbf8;
      padding-top: 9em;
    }
    #ClientTestimonials {
      display: grid;
      grid-area: 1fr;
      grid-template-columns: repeat(3, 1fr);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fffbf8;
      padding-top: 4.5em;
      padding-left: 9em;
      padding-right: 9em;
      padding-bottom: 1em;
      img {
        border-radius: 100%;
        width: 70px;
        height: 70px;
      }
      .Client {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        q {
          font-family: $Test1;
          line-height: 1.5em;
          color: $VeryDarkGrayishBlue;
          font-size: 1em;
          padding-top: 3em;
          padding-left: 1em;
          padding-right: 1em;
        }
        .Sign {
          font-family: $Test2;
          font-weight: $Weight3;
          font-size: 1em;
          color: $DarkBlue;
          padding-top: 4em;
        }
        .Post {
          font-family: $Test1;
          color: $GrayishBlue;
          font-size: 0.8em;
          padding-top: 1em;
          padding-bottom: 10em;
        }
      }
    }
    #Library {
      display: flex;
      justify-content: center;
      .Picture {
        width: 25%;
      }
    }
    footer {
      background-color: #90d4c5;
      display: flex;
      flex-direction: column;
      align-items: center;
      #LogoFooter {
        padding-top: 4em;
        img {
          width: 10em;
          filter: invert(66%) sepia(47%) saturate(491%) hue-rotate(118deg)
            brightness(102%) contrast(89%);
        }
      }
      #MenuFooter {
        display: flex;
        padding-top: 2em;
        a {
          padding: 0 1.5em;
          font-size: 1.1em;
          text-decoration: none;
          font-weight: bold;
          color: $Footer;
          &:hover {
            color: $White;
          }
        }
      }
      #Social {
        display: flex;
        justify-content: center;
        padding-top: 4.5em;
        padding-bottom: 4em;
        a {
          padding: 0 0.7em;
        }
      }
    }
  }
}
