@import "colors";
@import "typography";
body {
  display: flex;
  font-size: $FontSize;
  .container {
    max-width: 1440px;
    margin: 0 auto;
    header {
      background-image: url(/media/image-header.jpg);
      background-size: 1440px, 805px;
      background-repeat: no-repeat;
      width: 1440px;
      height: 800px;
      nav {
        display: flex;
        justify-content: space-between;
        #LogoHeader {
          color: $White;
          padding-top: 45px;
          padding-left: 40px;
          img {
            width: 170px;
          }
        }
        #MenuHeader {
          display: flex;
          justify-content: space-around;
          padding-top: 50px;
          margin-right: 80px;
          li a {
            text-decoration: none;
            color: $White;
            font-size: 19px;
            padding: 0 25px;
          }
          #ContactTwo {
            font-size: 17px;
            color: black;
            font-weight: bold;
            padding: 15px 25px;
            background-color: $White;
            border-radius: 25px;
          }
        }
      }
    }
  }
}
